<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>textDelegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB199C791DA612D0000E7ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB199C8D1DA612D1000E7ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB199C981DA612D1000E7ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
